@import "tailwindcss";

@font-face {
    font-family: 'Lexend';
    src: url('../src/fonts/Lexend-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Atkinson Hyperlegible Mono';
    src: url('../src/fonts/AtkinsonHyperlegibleMono-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@theme {
  /* clamp(tamaño_mínimo, valor_dinámico, tamaño_máximo) */
  --text-fluid-sm: clamp(0.875rem, 0.8rem + 0.375vw, 1rem);      /* Párrafos pequeños */
  --text-fluid-base: clamp(1rem, 0.925rem + 0.375vw, 1.125rem);   /* Texto base */
  --text-fluid-xl: clamp(1.25rem, 1.1rem + 0.75vw, 1.5rem);      /* Subtítulos */
  --text-fluid-title: clamp(1.75rem, 1.25rem + 2.5vw, 3rem);     /* Títulos grandes */
}

.lexend{
    font-family: 'Lexend';
    font-weight: 600;
}