@import "tailwindcss";

@font-face {
    font-family: 'Lexend';
    src: url('../src/fonts/Lexend-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Atkinson Hyperlegible Mono';
    src: url('../src/fonts/AtkinsonHyperlegibleMono-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@theme {
  --text-body: 0.625rem;       /* 10px */
  --text-subtitle: 0.875rem;   /* 14px */
  --text-title: 1rem;          /* 16px */
  --text-button: 0.6875rem;    /* 11px */
}

@media (min-width: 768px) {
:root {
    --text-body: 0.75rem;       /* 12px */
    --text-subtitle: 1rem;      /* 16px */
    --text-title: 1.125rem;     /* 18px */
    --text-button: 0.8125rem;   /* 13px */
}
}

@media (min-width: 1200px) {
:root {
    --text-body: 0.875rem;      /* 14px */
    --text-subtitle: 1.125rem;  /* 18px */
    --text-title: 1.25rem;      /* 20px */
    --text-button: 0.9375rem;   /* 15px */
}
}

.contenedor-principal{
    background-color: #121212;
}

.lexend{
    font-family: 'Lexend';
    font-weight: 600;
}

.mono{
    font-family: 'Atkinson Hyperlegible Mono';
    font-weight: 600;
}

.fondo-gradiente {
  /* El gradiente lineal */
    background-image: linear-gradient(
    to top, 
    #1E1E1E 15%, 
    rgba(30, 30, 30, 0.5) 73%
    );
}
